@import '../../common/styles/base'

.wrapper
  display flex
  justify-content center
  padding 15px

  .main
    display block
    height 100%
    width 100%
    text-align center
  .faceImage
    width 20%
