@import '../../common/styles/base'

.wrapper
  display flex
  justify-content center

  height 100%
  padding 15px
  background-color cashmere

  .main
    display block
    text-align center
  .faceImage
    height 35%
