// lighter-grey = #c0c5ce
// light-grey = #a7adba
// grey = #65737e
// dark-grey = #4f5b66
// darker-grey = #343d46

cashmere = #CBC5C1
french-blue = #A2AAB0
white-wash = #EBECED
denim = #4C586F
gunmetal = #3E3E3B
