@import '../../common/styles/base'
@import '../../common/styles/icons'

header
  background-color gunmetal
  height 50px
  display flex
  justify-content space-between
  align-items center

  a
    margin 10px
    color white
    text-decoration none
    transition all .4s
    &:hover, :active, :focus
      opacity 0.6
      text-decoration underline
  .social
    text-align right
    .iconWrapper
      padding-right 10px
  .homeLink, .social
    flex 1
  .homeLink span
    display none
  nav, .social
    display none
  @media (min-width: min-screen-tab)
    height 110px
    .homeLink span
      display inline
    .hamburger
      display none
    nav, .social
      display block
